# Rust's output directory
target

# Local settings
.soroban
.stellar
/test_snapshots
/gitbook
CLAUDE.md
.claude
frontend-integration.md
peridot_smart_accounts_architecture.md
.codex
AUDITFINDS.md
AuditQuestions.md